@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');

/* font */

:root {
    --primary-color : #ff6b6b;
    --secondary-color : #794afa;
    --secondary-dark-color : #453c5c;

    --white-color : #ffffff;
    --light-bg-color : #f2f3f5;
    --light-text-color : #7c899a;
    --border-color : #c9d3e2;
    --dark-color : #0a021c;

    --font-small : 13px;
    --font-smaller: 11px;
    
    --percent100 : 100%;
    --percent50 : 50%;

    --fw3 : 300;
    --fw5 : 500;
    --fw6 : 600;
    --fw7 : 700;
    --fw8 : 800;

    --trans-background-color: background-color .3s color .3s;
    --trans-background : background-color .3s;
    --trans-color: color .3s; 
    
    /* more */
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
  
    /**
     * typography
     */
  
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;
  
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
  
    /**
     * border-radius
     */
  
    --border-radius-md: 10px;
    --border-radius-sm: 5px;
  
    /**
     * transition 
     */
  
    --transition-timing: 0.2s ease;
  
}

*{
    margin: 0;
    padding: 0;
}

*,::before,::after{
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-color);
    background-color: var(--white-color);
    overflow-x: hidden;
    
}

a{
    text-decoration: none;
    color: inherit;
}
 
ul{
    list-style: none;
}

strong{
    font-weight: var(--fw8);
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input::placeholder{
    font: inherit;
}

h1,h2,h3,h4{
    font-family:'Poppins' ;
}

h1{
    font-size: calc(1.3em + 1vw);  
    font-weight: var(--fw8);
    line-height: 1;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 1.2em;
    font-weight: var(--fw7);
}

h4{
    font-size: 1em;
    font-weight: var(--fw6);
}

/* Reuseable selectors */
.container{
    max-width: 1200px;
    margin: 0 auto;
} 

.column{
    margin-left: -0.938em;
    margin-right: -0.938em;
}

.column .row{
    padding: 0.938em ;
}

.flexwrap{
    display: flex;
    flex-wrap: wrap;
}

.flexcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexitem{
    display: flex;
    align-items: center;
}

.flexcol{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-links a:hover {
    color: var(--secondary-color);
}
.second-links{
    border-bottom-left-radius: 10px;
}
.second-links a:hover{
    color: var(--light-text-color);
}

.icon-small .icon-large{
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}

.icon-small{
    font-size: 1em ;
    margin-left: auto;
}

.icon-large{
    font-size: 1.75em;
    padding: 0 0.75em 0 0;
}

.mobile-hide{
    display: none;
}
.mini-text{
    font-size: var(--font-smaller);
    columns: var(--light-text-color);
}
.slider{
    height: 520px;
}
 
.container { padding: 0 15px; margin-bottom: 8px; } 
.product-featuring { padding: 0 15px; } 
.product-main { padding: 0 14px; } 

  .has-scrollbar { padding-bottom: 5px; }
  
  .has-scrollbar::-webkit-scrollbar {
    width: 12px; /* for vertical scroll */
    height: 12px; /* for horizontal scroll */
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(--white);
    border-radius: 20px;
  }
  
   .has-scrollbar::-webkit-scrollbar-thumb { background: hsl(0, 4%, 71%); } 

   .title {
    color: var(--eerie-black);
    font-size: 35px;
    font-weight:bold;
    letter-spacing: 0.25em;
    text-transform: capitalize;
    padding:10px 0;
    border-top: 1px solid var(--cultured);
    margin: auto;
    display: flex;
    justify-content: flex-start;
    max-width: 1165px;
    padding: 5px;
  }
  

  .product-minimal .product-showcase {
    min-width: calc(33.33% - 14px);
    width: calc(33.33% - 14px);
    flex-grow: 1;
  }  



/* ---------------
Header
----------------- */

:where(.off-canvas , header) li > a{
    display: flex;
    position: relative;
    line-height: inherit;
    transition: var(--trans-color);
}


/* ----------------
Header Top
------------------- */

.header-top .wrapper{
    font-size: var(--font-small);
    font-weight: var(--fw3);
    justify-content: space-between;
    line-height: 42px;
}

.header-top .wrapper ul {
    gap: 2em;
}

.header-top li{
    position: relative;
}

.header-top ul ul{
    position: absolute;
    bottom: 5;
    line-height: 2em;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    z-index: 1;
    display: none;
    
}

.header-top .right ul ul li a {
    padding: 0.25em 1em;
}

:where(.header-top, .thetop-nav) .right ul ul li.current a {
    background-color: var(--border-color);
}

.header-top li:hover ul{
    display: block;
}



/* ----------------
header-nav
---------------- */
.header-nav{
    position: relative;
    height: 4em;
    padding: 0.5em 0;
    margin-bottom: 1.5em;
    border-bottom: 1px solid var(--border-color);
}

.header-nav .wrapper{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    height: 4em;
}
.trigger{
    font-size: 1.5em;
    display: flex;
    padding: 0.25em;
    margin-right: 0.5em;
}

.trigger:hover{
   color:rgb(122, 111, 111);
}
.logo a{
    font-family: 'Poppins';
    font-size: 1.75em;
    top: -15px;
    left: 0;
    position: relative;
    display: flex;
    font-weight: var(--fw8);
    padding-left :0.75em;
    margin-right: 2em;     
}

.circle{
    position: absolute;
    width: 38px;
    height: 38px;
    z-index: -1;
    /* background-color: var(--light-bg-color); */
    border-radius: var(--percent50) ;
}

.circle::before{
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: var(--percent50);
    /* background-color: var(--secondary-color); */
    bottom: 5px;
    right: 5px;
    opacity: .4;
}
.wrapper .left{
    display: flex;
}

.header-nav nav>ul{
    line-height: 100px;
    gap: 3em;
}

.fly-item{
    position: absolute;
    height: 16px;
    font-weight: var(--font-smaller);
    font-size: var(--font-smaller);
    padding: 3px;
    text-align: center;
    line-height: 10px;
    color: var(--white-color);
}

nav .fly-item{
    top: 50%;
    margin-top: -24px;
    width: 30px;
    border-radius: 3px;
    right: -32px;
    background-color: var(--primary-color);
}

.header-nav .right {
    position: relative;
    margin-left: auto;
}

.header-nav .right .icon-large{
    position: relative;
    cursor: pointer;
}
 
.header-nav .right .fly-item{
    top: 0;
    right: 16px;
    width: 16px;
    background-color: var(--secondary-dark-color);
    border-radius: var(--percent50);
}




/* ----------------------
Header nav
Department Menu
------------------------ */
.header-main{
    background-color: var(--secondary-dark-color);
    padding: 1.5em 0;
    margin-bottom: 2em;
    height: 95px;
}

.dpt-cat{
    position: relative;
    z-index: 10;
}

.dpt-cat .dpt-head{
   position: relative;
   width: 300px;
   padding: 0.75em 1.5em;
   background-color: var(--primary-color);
   border-radius: 7px 7px 0 0;
   color: var(--white-color);
   margin-bottom: -2.15em;
}

.dpt-cat .dpt-head .mini-text{
    color: var(--light-bg-color);
}

.dpt-cat .dpt-trigger{
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.3em;
    height: 60px;
    width: 60px;
}

.dpt-menu > ul > li > a{
    font-size: var(--font-small);
    height: 46px;
    align-items: center;
}

/* ---------------------
SEARCH FORM
------------------------- */
.header-main .right{
    flex: 1;
    margin-left: 1.25em;
}

form{
    position: relative;
}

form.search input{
    line-height: 3.25em;
    padding: 0 7em 0 4.5em;
    border: 0;
    outline: 0;
    width: var(--percent100);
    border-radius: 7px;
    font-size: 0.9em;
    font-weight: var(--fw3);
}

form.search :where(span,button){
    position: absolute;
    top: 0;
    padding: 0.55em 1.5em;
    font-size: 1em;
    color: var(--light-text-color);
    height: var(--percent100);
}

form.search button{
    right: 0;
    border: 0;
    outline: 0;
    font-size: 0.875em;
    background-color: var(--primary-color);
    font-weight: var(--fw6);
    color: var(--white-color);
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    transition: var(--trans-background);
}

form.search button:hover{
    background-color: var(--dark-color);
}

/* ---------------
Mobile responsive menu
------------------- */
.site-off{
    position: fixed;
    width: 320px;
    height: var(--percent100);
    background-color: var(--white-color);
    overflow-y: auto;
    z-index: 1000;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform .4s, visibility .4s;
    will-change: transform , visibility ;
}

.showmenu .site-off{
    transform: translateX(0);
    visibility: visible;
    transform: transform .4s 0s, visibility 0s 0s;
}

.off-canvas{
    width: var(--percent100);
    height: var(--percent100);
    touch-action: auto;
    padding: 1.5em;
}

.off-canvas .canvas-head{
    color: var(--white-color);
    justify-content: space-between;
    padding: 1.5em;
    margin: -1.5em -1.5em 1.5em;
    background-color: var(--secondary-dark-color);
    border-bottom-right-radius: 160px 25px;
    border-bottom-left-radius: 160px 25px;

}

.off-canvas .canvas-head .logo{
    z-index: 10;
    position: relative;
}

.off-canvas .canvas-head .logo .circle{
    opacity: .75;
}

.t-close{
    font-size: 1.25em;
    width: 32px;
    height: 32px;
    border-radius: var(--percent50);
    background-color: var(--secondary-dark-color);
    columns: var(--white-color);
    transition: var(--trans-background-color);
}

.t-close:hover{
    background-color: var(--white-color);
    color: var(--secondary-dark-color);
    opacity: .75;
}

.off-canvas .dpt-head{
    font-size: var(--font-small);
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    background-color: var(--light-bg-color);
    border-radius: 7px 7px 0 0;
}
.off-canvas .has-child > :where(ul, .mega)  {
    font-size: var(--font-small);
    font-weight: var(--fw3);
    line-height: 30px;
    padding-left:3em;
    height: auto;
    overflow: hidden;
    transition: max-height .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.off-canvas .thetop-nav ul , .off-canvas nav > ul {
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--font-small);
    line-height: 36px;
    padding-top: 1.25em;
    border-top: 1px solid var(--border-color);
}

/* .off-canvas .expand > :where(ul , .mega){
    max-width : 2000px;
}  */


.off-canvas .has-child .icon-small{
    padding: 0.5em;
    line-height: inherit;
    transform: rotate(90deg);
}

/* .off-canvas .dpt-menu .icon-small i {
    transform: rotate(45deg);
} */

.off-canvas .has-child {
    width: var(--percent100);
}

.off-canvas .thetop-nav .right > ul > :where(:nth-child(4) , li:nth-child(5))> a{
    display: none;
}

.off-canvas .thetop-nav .right ul ul{
    display: flex;
    flex-direction: row;
}
.off-canvas .thetop-nav .right ul ul li a{
    padding: 0.5em;
    border: 1px solid var(--border-color);
    line-height: 16px;
    margin:  0 0.5em 0.5em 0
}

/* .dpt-menu ul > a:first-child{
    display: none;
} */
/* ------------------
SLIDER
-------------------- */

.banner { margin: -25px 0 5px 0;
position: relative; }

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: var(--border-radius-md);
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.slider-item {
  position: relative;
  min-width: 100%;
  max-height: 445px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  scroll-snap-align: start;
  border-radius: 10px;
}

.slider-item .banner-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: right;
}

/* .banner-content {

    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 20px 25px;
    border-radius: var(--border-radius-md);
    background: hsla(0, 0%, 100%, 0.8);

}  */
.banner-content {
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 20px 25px;
    opacity: 1;
} 
.banner-content::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
    right: 25px;
    filter: blur(20px);
    background: white;
    z-index: 1;
    opacity: .5;
}


.banner-subtitle {
  color:var(--secondary-color);
  font-size: var(--fs-7);
  font-weight: var(--weight-500);
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 10px;
  opacity: 3;
}

.banner-title {
  color: var(--primary-color);
  font-size: var(--fs-1);
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}

.banner-text { display: none; }

.banner-btn {
  background: var(--secondary-color);
  /* background: var(--salmon-pink); */
  color: var(--white);
  width: max-content;
  font-size: var(--fs-11);
  font-weight: var(--weight-600);
  text-transform: uppercase;
  padding: 4px 10px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-timing);
}

.banner-btn:hover { background: var(--secondary-color) }



  



  /* ------------------------------
  SLIDEBAR  
  ------------------------------------*/

  
/* -----------------
Fetaured Products
--------------------- */
.featured {
    margin: auto;
    max-width: 1165px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 0.25em;
    border-top: 1px solid var(--cultured);
}
.featured .heading{
    display: flex;
    margin: 12px 0;
}
.featured .heading h1{
    margin: auto;
    font-size:35px;
}
.featured .closeButton{
    margin-left: auto;
}
#closeButton{
    display: none;
}


/* -------------------
Offers**************
------------------ */

.product-featuring .showcasing-container{
    max-width: 1140px;
} 

.product-featuring .showcasing-container .showcasing-banner{
    background-size: cover;
}

.product-featuring .showcasing-container .showcasing-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    line-height: 35px;
    padding: 25px;
   color: white;
}
.showcasing-content .showcasings-rating{
    color: var(--sandy-brown);
}
.showcasing-banner-img{
    width: 100%;
    height: 550px;
     vertical-align: middle;
     border-bottom-left-radius:10px ;
     border-top-left-radius:10px
 }

 .showcase-price-box{
     display: flex;
     flex-direction: row-reverse;
     justify-content: flex-end;
     gap: 10px;
 }

.price-bold{
    color:white;
    font-weight: bold;
}
.product-featuring .showcasing{
    display: flex;
    flex-direction: row;
    background-color:var(--secondary-color);
    border-radius: 10px;
}

.product-featuring .showcasing-status-bar {
  background: var(--cultured);
  position: relative;
  height: 10px;
  border-radius: 5px;
}

.product-featuring .showcasing-status-bar::before {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    height: 4px;
    width: 40%;
    background: var(--primary-color);
    border-radius: 4px;
  }
  .countdown {
    font-size: 35px;
   display: flex;
   justify-content: center;
   flex-direction: row;
   gap: 15px;
   margin-top: 10px;
  }
  .countdown-classes{
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
  }  


/* -------------
Mainn Products
---------------- */
.mainproducts .products .itemss{
   width: 255px;
   height: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color:rgb(236, 228, 228);
}

.mainproducts .products .itemss img{
    width:200px;
    height:200px;
    object-fit: fill;
}
.mainproducts .products .itemss .stars{
    width: 190px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ----------MAIN
-------Products-- */


.product-main {
    margin: 25px;
    max-width:1210px ;
 }
.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.product-grid .showcase {
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  transition: var(--transition-timing);
}

.product-grid .showcase:hover { box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1); }

.product-grid .showcase-banner { position: relative; }

.product-grid .product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-timing);
}

.product-grid .product-img.default {
  position: relative;
  z-index: 1;
}

.product-grid .product-img.hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.product-grid .showcase:hover .product-img.hover { opacity: 1; }

.product-grid .showcase:hover .product-img.default { opacity: 0; }

.product-grid .showcase:hover .product-img { transform: scale(1.1); }

.product-grid .showcase-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: var(--ocean-green);
  font-size: var(--fs-8);
  font-weight: var(--weight-500);
  color: var(--white);
  padding: 0 8px;
  border-radius: var(--border-radius-sm);
  z-index: 3;
}

.product-grid .showcase-badge.angle {
  top: 8px;
  left: -29px;
  transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 40px;
}

.product-grid .showcase-badge.black { background: var(--eerie-black); }

.product-grid .showcase-badge.pink { background: var(--salmon-pink); }

.product-grid .showcase-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transform: translateX(50px);
  transition: var(--transition-timing);
  z-index: 3;
}

.product-grid .showcase:hover .showcase-actions { transform: translateX(0); }

.product-grid .btn-action {
  background: var(--white);
  color: var(--sonic-silver);
  margin-bottom: 5px;
  border: 1px solid var(--cultured);
  padding: 5px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-timing);
}

.product-grid .btn-action:hover {
  background: var(--eerie-black);
  color: var(--white);
  border-color: var(--eerie-black);
}

.product-grid .showcase-content { padding: 15px 20px 0; }

.product-grid .showcase-category {
  color: var(--primary-color);
  /* color: var(--salmon-pink); */
  font-size: var(--fs-9);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-grid .showcase-title {
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  font-weight: var(--weight-300);
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: var(--transition-timing);
}

.product-grid .showcase-title:hover { color: var(--eerie-black); }

.product-grid .showcase-rating {
  display: flex;
  color: var(--sandy-brown);
  margin-bottom: 10px;
}

.product-grid .price-box {
  margin-top: 5px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 10px;
  font-size: var(--fs-7);
  color: var(--eerie-black);
  margin-bottom: 10px;
}
.price-style{
    display: flex;
    gap: 5px;
    flex-direction: row-reverse;
}
.cart-button{
    color: var(--primary-color);
}

.product-grid .price { font-weight: var(--weight-700); }

.product-grid del { color: var(--sonic-silver); }


.product-grid { grid-template-columns: 1fr, 1fr; }


@media screen and (min-width: 992px){
    .container{
        padding: 0 1.3em;
    }
    .product-featuring{
        padding: 0 1.3em;
    }
    .product-main{
        padding: 0 1.3em;
    }
    .desktop-hide{
        display: none;
    }
    .mobile-hide{
        display: block;
    }
    .logo{
        margin: 2.72em 3.72em 0 0;
    }
    .logo a{   
        margin-right: 2em;
    }
    .header-nav{
        padding: 0;
        margin: 0;
        border-bottom: 0;
    }
    .header-nav .right li > a{
        margin-left: 1em;
    }
    .header-nav .right{
        max-width: 600px;
        margin-left: auto;
    }
    /* Department menu */
    .dpt-menu{
        position: absolute;
        top: 4em;
        width: 300px;
        background-color: var(--white-color);
        border: 1px solid var(--border-color);
        border-top: 0;
        border-bottom: 0; 
        z-index: 1000;
        visibility: hidden;
        will-change: transform , visibility ;
        transform:translateY(-200%);
        transition: transform .5s, visibility .5s;
        border-bottom-left-radius: 10px;
    }


    .mystyle .dpt-menu{
        transform: translateY(0);
        visibility: visible;
        transform: transform .5s 0s, visibility 0s 0s;
    }

    .t-closeed {
        padding: 2%;
        margin-right: 1em;
        display: flex;
        justify-content: flex-end;
    }


    .dpt-trigger i{
        padding: 10px;
        border-radius: 50%;
        margin-left: -10px;
    }
    .dpt-trigger i:hover{
        /* background-color: var(--primary-color); */
        background-color:  #f19e9e;
    }
    .dpt-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .dpt-menu > ul >li > a {
        font-weight: var(--fw5);
        padding: 0 1.5em;
        /* border-bottom: 1px solid var(--border-color); */
        border-top: 1px solid var(--border-color);
    }
    .dpt-menu > ul >:last-child{
        border-bottom: 1px solid var(--border-color);
    }


    .dpt-menu .has-child > ul, .dpt-menu .mega{
        position: absolute;
        top: 0;
        left:var(--percent100);
        width: var(--percent100);
        min-height: var(--percent100);
        padding: 1.5em;
        font-size: var(--font-small);
        line-height: 3em;
        border: 1px solid var(--border-color);
        border-top: 0;
        display: none;
        background-position: right buttom;
        background-repeat: no-repeat;
        background-size: auto;
    }
}

    @media screen and (min-width:390px){
         .product-grid {
            grid-template-columns: 1fr 1fr;
          }
    }
    @media screen and (min-width:720px){
        .product-grid {
            grid-template-columns: 1fr 1fr 1fr;
          }
          /* .product-main{
            margin: 10px;
          } */

    }
    @media screen and (min-width:1145px){
        .product-grid {
            grid-template-columns: 1fr 1fr 1fr 1fr;
         
          }
          .product-main{
           margin: auto;
          }
          .product-featuring{
            margin-bottom: 20px;
        }
        
        .product-featuring .showcasing-container{
            max-width: 1165px;
            margin: auto;
        }
        
        .product-featuring .showcasing{
            display: flex;
            flex-direction: row;
        }
    }
   
    @media screen and (max-width:770px){
       .product-featuring .showcasing{
            display: flex;
            flex-direction: column;
        }
        .showcasing-banner-img{
            border-bottom-left-radius: 0px;
            height: 350px;
        }
        .title{
            font-size: 30px;
        }
        .featured .heading h2{
            font-size: 30px;
        }
        .product-featuring .showcasing-container .showcasing-content {
            line-height: 27px;
            padding: 20px;
        }
    }
    @media screen and (max-width:350px){
        .countdown-classes{
            font-size: 15px;
            padding: 8px;
        }
        .countdown{
            gap: 8px;
        }
    }

    @media screen and (min-width:810px){
        .cart-button{
            position: relative;
            top: -30px;
            right: -160px;
            z-index: 1;
            font-size: 12px;
            font-weight: bold;
            padding: 3px;
        }
    }
    @media screen and (max-width:810px){
        .cart-button{
            position: relative;
            top: -30px;
            right: -125px;
            z-index: 1;
            font-size: 12px;
            font-weight: bold;
            padding: 3px;
        }
    }
    @media screen and (max-width:720px){
        .cart-button{
            position: relative;
            top: -30px;
            right: -160px;
            z-index: 1;
            font-size: 12px;
            font-weight: bold;
            padding: 3px;
        }

    }
    @media screen and (max-width:550px){
        .cart-button{
            position: relative;
            top: -30px;
            right: -100px;
            z-index: 1;
            font-size: 12px;
            font-weight: bold;
            padding: 3px;
        }
    }
    @media screen and (max-width:390px){
        .cart-button{
            position: relative;
            top: -30px;
            right: -160px;
            z-index: 1;
            font-size: 12px;
            font-weight: bold;
            padding: 3px;
        }
    }
    @media screen and (max-width:440px) {
        .site-off{
            width: 250px;
        }
        .footer-nav{
            flex-direction: column;
        }
    }


    @media screen and (max-width:992px){
        .product-main{
            margin: 30px;
           }
    }

     @media screen and (max-width:1145px){

        .container{
            max-width: 1200px;
            margin: 0px ;
        }
        .product-featuring .showcasing-container{
            max-width: 1140px;
            margin-bottom: 10px;
        } 
        .product-main {
            margin: 0px;
            max-width: 1145px;
         }
    } 
    @media screen and (max-width:992px){
        .slider-item{
            margin-top:8px;
        }
    }

.search-boxz{
    display: none;
        position: absolute;
        top: 80px;
        left: 75px;
        right: 75px;
}

.search-boxz .search #myInputs{
   min-width: 100px;
    max-width: 800px;
}

/* --------
Footer
---------- */
footer {
    background: var(--eerie-black);
    padding: 30px 0;
    margin-top: 15px;
  }
  
  .footer-category {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--onyx);
  }
  
  .footer-category-title {
    color: var(--salmon-pink);
    font-size: var(--fs-6);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  
  .footer-category-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 3px;
    margin-bottom: 15px;
  }
  
  .category-box-title {
    color: var(--spanish-gray);
    font-size: var(--fs-8);
    font-weight: var(--weight-600);
    text-transform: uppercase;
  }
  
  .footer-category-link {
    position: relative;
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }
  
  .footer-category-link:hover { color: var(--spanish-gray); }
  
  .footer-category-link:not(:last-child)::after {
    position: absolute;
    content: '';
    top: 3px;
    right: -10px;
    background: var(--sonic-silver);
    width: 1px;
    height: 15px;
  }
  
  
  /**
   * footer nav 
   */
  
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
   justify-content: space-evenly;
    border-bottom: 1px solid var(--onyx);
    padding-bottom: 30px;
    margin-bottom: 30px;
    padding: 0 30px 0 30px;
  }
  
  .footer-nav-list:not(:last-child) { margin-bottom: 20px; }
  
  .footer-nav .nav-title {
    position: relative;
    color: var(--white);
    font-size: var(--fs-7);
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 5px;
  }
  
  .footer-nav .nav-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--primary-color);
    width: 60px;
    height: 1px;
  }
  
  .footer-nav-item { padding: 3px 0; }
  
  .footer-nav-link,
  .footer-nav-item .content {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }
  
  .footer-nav-link:hover { color: var(--primary-color); }
  
  .footer-nav-item.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
  }
  
  .footer-nav-item .content {
    font-style: normal;
    margin-bottom: 5px;
  }
  
  .footer-nav-item .icon-box {
    color: var(--sonic-silver);
    font-size: 25px;
  }
  
  .footer-nav-item .icon-box ion-icon { --ionicon-stroke-width: 30px; }
  
  .footer-nav .social-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  
  .social-link .footer-nav-link { font-size: 25px; }
  
  .footer-bottom {
    margin-bottom: 50px;
    text-align: center;
  }
  
  .payment-img {
    max-width: 335px;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
  }
  
  .copyright {
    color: var(--sonic-silver);
    font-size: var(--fs-8);
    font-weight: var(--weight-500);
    text-transform: capitalize;
    letter-spacing: 1.2px;
  }
  
  .copyright a {
    display: inline;
    color: inherit;
  }
  
 .cart{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: rgb(231, 234, 238);
    width: 600px;
    height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
    z-index: 5;
    cursor: default;
 }
 .card{
    width: 560px;
    display: flex;
    gap: 50px;
    align-items: center;
    height: 200px;
    border: 1px solid grey;
    margin: 17px 17px ;
 }

 .cart-first{
    display: flex;
    gap: 10px;
 }
 .cart-five{
    display: flex;
    gap: 17px;
 }
 .rmv-btn{
    margin-left: 40px;
    border: none;
    size: 20px;
 }
 .cart-third{
    margin-left: 8px;
 }
 .cart-second{
    padding-left: 30px;
    width: 100px;
 }
 .cart-four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
 }


.badge{
    font-size: 13px;
    padding: 0 4px;
    cursor: pointer;
}

.rmv-badge{
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.item-size{
    font-size: 17px;
}


.checkout{
    display: flex;
    justify-content: space-between;
    position: absolute; 
    top:350px; 
    right: -17px;
    width: 600px;
    height: 55px;
    background-color: rgb(186, 187, 189);
    padding: 20px;
    z-index: 1;
    border: none;
}

.checkout-btn{
    font-size: 15px;
    padding: 5px;
}

.cart-section{
    display: flex;
    height: 50px;
    width: 560px;
    margin: 0px 17px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
} 
.cart-section h4{
    font-size: 23px;
}

#pay-section{
    z-index: 3;
}
#cart{
    display: none;
}

#cart-message{
    display: flex;
    position: absolute;
    width: 190px;
    top:220px;
    right:205px;
    z-index: 30;
} 


 
@media screen and (max-width:770px){
    .product-featuring .showcasing{
         display: flex;
         flex-direction: column;
     }
     .showcasing-banner-img{
         border-bottom-left-radius: 0px;
         border-top-right-radius: 10px;
     }
 }

@media screen and (max-width:645px){
    .cart{
        width:100vw;
        height: 96vh;
        top: 45px;
    }
    .card{
        width: 90vw;
        height: 28vh;
        margin-left: 6vw;
        display: flex;
        justify-content: space-between;
        border: none;
        border-bottom: 2px solid white; 
        border-top: 2px solid white;
    }
    #pay-section{
        z-index: 4;
        position: absolute;
        top:100vh;
        right: -17px;
        width: 98vw;
        display: flex;
    }
    .checkout-btn{
        margin-top: 12px;
    }
    .cart-section{
        width:90vw ;
        margin-left: 6vw;
        border: none;
        border-bottom: 2px solid white;
    }
    .cart-section h4{
        font-size: 6vw;
        margin-bottom: 12px;
    }
    .card-image{
        width: 40vw;
        height: 25vh;
        margin-top: 7px;
    }
    .checkout{
        height: 50px;
        border: none;
    }
    .cart_item_name{
        width: 25vw;
        font-size: 1.2em;
    }
    .cart-five{
        gap: 13px;
    }
    .cart-four{
        width: 20vw;
    }
    .rmv-btn{
        margin-left: 15px;
    }
    .cart-second{
        padding-left: 0;
    }
    #cart-message{
        top: 55vh;
        right: 30vw;
        left: -50vw;
    }
    .title{
        font-size: 25px;
    }
    .featured .heading h1{
        font-size: 25px;
    }
} 

@media screen and (max-width:440px){
.card{
    gap: 13px;
}
.cart-second{
    padding-left: 25px;
}
}
@media screen and (max-width:400px){
    .title{
        font-size: 20px;

    }
    .featured .heading h1{
        font-size: 20px;
    }
}
@media screen and (max-width:400px){
    .cart_item_name{
        width: 17vw;
        font-size: 1em;
    }
    .card-image{
        width: 35vw;
    }
    .cart-second{
        padding-left: 8px;
        font-size: 14px;
    }
    #cart-message{
        left: -52vw;
    }
}
@media screen and (max-width:470px){
    .cart-button{
        top: -5px;
    right: -50px;
}
}

@media screen and (max-width:390px){
    .cart-button{
        position: relative;
        top: -30px;
        right: -160px;
        z-index: 1;
        font-size: 12px;
        font-weight: bold;
        padding: 3px;
    }
    .icon-large {
        font-size: 1.4em;
    }
    .header-nav .right .fly-item {
        top: -2px;
        right: 13px;
    }
    .fly-item {
        height: 14px;
    }
}
@media screen and (max-width:300px){
    .cart-button{
        position: relative;
        top: -30px;
        right: -120px;
        z-index: 1;
        font-size: 12px;
        font-weight: bold;
        padding: 3px;
    }
}
@media screen and (max-width:530px){
    form.search button {
        font-size: 13px;
    }
    form.search :where(span,button) {
        padding: 5px;
    }
    form.search input{
        line-height: 2.5em;
        /* padding: 0 16em 0 4.5em; */
        /* padding: 0 16em 0 4.5em; */
    }
    .wrapper .left{
        margin: -7px -22px 0px -22px;
    }
}
@media screen and (max-width:900px){
    .search-boxz{
        position: absolute;
        left:24px;
        right:24px;
        top: 63px;
    }
    .header-nav{
        height: 3em;
    }
    .header-nav .wrapper{
        height: 2em;
    }
}
@media screen and (max-width:370px){
    .search-boxz{
        position: absolute;
        left:20px;
        right:20px;
    }
    form.search input{
        padding: 0 7em 0 1.8em;
    }
}

@media screen and (max-width:992px){
    .search-boxz{
        border: 1px solid var(--cultured);
        border-radius: 8px;
    }
}